In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
data = pd.read_excel('FilteredViewTransactionsExpensesAll_CSILakiMIesNet_SQL2012 21.11.17.xlsx', sheetname='Sheet2')

In [13]:
data.head()

,Parent Company / Emoyhtiö,Parent Company Type / Emoyhtiön tyyppi,Parent Company Home Country / Emoyhtiön kotimaa,Parent Company Industry / Emoyhtiön toimiala,Parent Company Responsible / Emoyhtiön asiakasvastaava,Principal / Toimeksiantaja,"Principal Type / Toimeksiantajan tyyppi (e.g. key customer, customer, partner, prospect, other)",Principal Home Country / Toimeksiantajan kotimaa,Payer / Maksaja,Payer Home Country / Maksajan kotimaa,...,Type (Fee/Expense) / Tyyppi (Palkkio/Kulu),User / Käyttäjä,Invoice Number / Laskunumero,Non-Billable / Ei laskuteta (False/True),Assignment.agency_guid,Assignment.Owner_Guid,Assignment.Responsible_Person_Guid,Assignment.Record_Guid,User.Record_Guid,Users.Manager_Guid
0,NaN,NaN,NaN,NaN,NaN,Ankallispankki Oy,Prospect,Suomi,NaN,NaN,...,Palkkio,deb049ee-93d0-49df-8aea-1045c63a90f2,NaN,False,faa6df72-06be-4eaf-999e-022ef49754eb,deb049ee-93d0-49df-8aea-1045c63a90f2,deb049ee-93d0-49df-8aea-1045c63a90f2,11ad526c-0d72-445c-abd7-09ac5590c45f,deb049ee-93d0-49df-8aea-1045c63a90f2,NaN
1,NaN,NaN,NaN,NaN,NaN,Ankallispankki Oy,Prospect,Suomi,NaN,NaN,...,Palkkio,deb049ee-93d0-49df-8aea-1045c63a90f2,NaN,False,faa6df72-06be-4eaf-999e-022ef49754eb,deb049ee-93d0-49df-8aea-1045c63a90f2,deb049ee-93d0-49df-8aea-1045c63a90f2,11ad526c-0d72-445c-abd7-09ac5590c45f,deb049ee-93d0-49df-8aea-1045c63a90f2,NaN
2,NaN,NaN,NaN,NaN,NaN,Ankallispankki Oy,Prospect,Suomi,NaN,NaN,...,Palkkio,deb049ee-93d0-49df-8aea-1045c63a90f2,NaN,False,faa6df72-06be-4eaf-999e-022ef49754eb,deb049ee-93d0-49df-8aea-1045c63a90f2,deb049ee-93d0-49df-8aea-1045c63a90f2,11ad526c-0d72-445c-abd7-09ac5590c45f,deb049ee-93d0-49df-8aea-1045c63a90f2,NaN
3,NaN,NaN,NaN,NaN,NaN,Ankallispankki Oy,Prospect,Suomi,NaN,NaN,...,Palkkio,20db0c13-c601-4076-b161-7ac3af250c2d,NaN,False,faa6df72-06be-4eaf-999e-022ef49754eb,20db0c13-c601-4076-b161-7ac3af250c2d,20db0c13-c601-4076-b161-7ac3af250c2d,4b5fe04a-cab6-4f77-96a5-af43cff1b41f,20db0c13-c601-4076-b161-7ac3af250c2d,NaN
4,NaN,NaN,NaN,NaN,NaN,Ankallispankki Oy,Prospect,Suomi,NaN,NaN,...,Palkkio,20db0c13-c601-4076-b161-7ac3af250c2d,NaN,False,faa6df72-06be-4eaf-999e-022ef49754eb,20db0c13-c601-4076-b161-7ac3af250c2d,20db0c13-c601-4076-b161-7ac3af250c2d,4b5fe04a-cab6-4f77-96a5-af43cff1b41f,20db0c13-c601-4076-b161-7ac3af250c2d,NaN

In [11]:
data[data['Author / Tekijä'] == ]

0        170.00
1         85.00
2        340.00
3        595.00
4        850.00
5        255.00
6        680.00
7        850.00
8         42.50
9        850.00
10       595.00
11       510.00
12        85.00
13       425.00
14      1105.00
15        30.00
16       510.00
17       170.00
18       595.00
19      1275.00
20       765.00
21       510.00
22        85.00
23       340.00
24       595.00
25        42.50
26       510.00
27        42.50
28       680.00
29       600.00
         ...
5207      64.24
5208       0.00
5209       0.00
5210      63.36
5211     180.00
5212      10.50
5213      37.12
5214      24.50
5215      86.63
5216       0.00
5217      10.00
5218       0.00
5219      10.00
5220     194.83
5221      47.92
5222      48.36
5223      -3.46
5224      80.61
5225       7.17
5226      80.61
5227     -80.61
5228     162.90
5229      38.38
5230       1.12
5231      10.50
5232      40.50
5233      10.97
5234      44.66
5235      15.74
5236     -15.74
Name: Total / Yhteensä, dtype: float64

In [5]:
from openpyxl import load_workbook

In [6]:
wb = load_workbook(filename='FilteredViewTransactionsExpensesAll_CSILakiMIesNet_SQL2012 21.11.17.xlsx')